<h1>This is my blog!!</h1>
<input type="text" id="title">
<textarea name="editRegion" id="editRegion" style="width:1000px">
    This is my textarea to be replaced with CKEditor.
</textarea>
<button id="submitArticle">点击上传</button>