<div class="container">
	<div class="col-md-10 col-md-offset-1">
		<center><h1><small>Blog</small> <small>System</small></h1></center>
		<input id="title" type="text" class="form-control" placeholder="Enter Your Title">
		<textarea name="editRegion" id="editRegion" style="width:1000px">
		    This is my textarea to be replaced with CKEditor.
		</textarea>
		<button id="submitArticle" type="button" class="btn btn-info"><span class="glyphicon glyphicon-upload" aria-hidden="true"></span>上传</button>

	</div>
</div>
<div id="messageRegion"></div>