<div class="container">
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<center><h1><small>Blog</small> <small>System</small></h1></center>
			<input id="title" type="text" class="form-control" placeholder="Enter Your Title">
			<textarea name="editRegion" id="editRegion">
			    客官，来写点嘛.
			</textarea>
		</div>	
	</div>
	<br>
	<div class="row">
		<div class="col-md-1 col-md-offset-5">
			<button id="submitArticle" type="button" class="btn btn-info"><span class="glyphicon glyphicon-upload" aria-hidden="true"></span>上传</button>
		</div>	
		<div class="col-md-1">
			<a href="/" class="btn btn-danger"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>返回</a>
		</div>	
	</div>
</div>
<div id="messageRegion"></div>