<div class="main" style="display: none"></div>
<div class="div1">
<!-- 因为子元素会继承父元素的透明层opacity 所以定义一个空div作为透明层 -->


<div class="div2"></div>
<div class="div3">{{message}}
<button id="closeMsg">close</button></div>
</div>
