<h1>欢迎来到我们</h1>

杨晓骏 深圳大学经济学学士 乔治华盛顿大学信息系统管理硕士
本科毕业想搞点意思，转个理工科。读完才发现原来是纯项目管理，不怎么是理工，15年6月毕业前又想搞点东西，问室友球哥（GPA4.0），全职半年能不能学到跟你差不多。他说没问题，他这个人一般不撒谎，所以我就开始了CS之旅啦。现在看来真是坑啊。。。。。。。

刚开始我很菜，本科计算机基础挂科，初中VB没上过。真的是啥都不懂，举个例子，学了一段时间（大概一个月吧）有一天看到BI里面有个多维数组觉得超牛逼。自学了（周围没有人教，没有人可以问，纯Google，还记得用jquery写了飞入效果开心了半天），反正每天就是学学学，学学学，学学学，然后六个月后面试进了一间IT公司。

里面同事都很棒，尤其yancey，看到她当时这么溜觉得好厉害，不过当时写了几个小程序，也有点骄傲了觉得编程就这么回事，现在回头一看，没眼看。。哈哈
干了大半年后离职了，然后读了两个月书。发现存款花光了就来上班了。然后午觉都不敢睡，一直看代码生怕太菜被开除。
又干了半年，跟ben哥合计要不搞点东西吧，我学了点网站系统，要不咱们搞一个？就这样了。

25岁开始学编程晚不晚？现在看来没花一分钱自学还挺不好走的。


感谢Google，感谢各种公开课，尤其是Udacity的Computer Science课程，让我入了门。这个项目用了啥？最主要的有以下这些：

1.Backbone
2.Marionette
3.express
4.passport js
5node.js    	fs.rename	cluster
6.webpack : [
	['handlebars-loader','handlebars helper'],
	['code split'，'uglify']
]
7.jQuery
8.mysql
9.bootstrap css
