<div id="bgimg">
<canvas id="canvas" style="width:100%;height:100%;"></canvas>
<div class="navContainer">
	<header>
		<ul>
			<li>笨飞的网站
			<li>Ben&Phil's Website
		</ul>
	</header>
	<div class="container">
		<div class="row">
			<ul>
				<li><a href="#">大数据</a></li>
				<li><a href="#">机器学习</a></li>
				<li><a href="#">Javascript</a></li>
				<li><a href="#blog">我们的博客</a></li>
				<li><a href="#">关于我们</a></li>
			</ul>
		</div>
	</div>
</div>
</div>