<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{name}}</title>
  <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>

<body>
	<header>
		<nav id="navigation" class="navbar-inverse bg-inverse">
			<div class="container">
        		<a href="/" class="navbar-brand">BP</a>
      		</div>
    	</nav>
	</header>
	<section id="app"></section>
	<footer>
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<p>COPYRIGHT@Nergal</p>
			</div>
		</div>

	

	</footer>
</body>
<script type="text/javascript" src="/vendor.bundle.js"></script>
<script src="/bundle.js"></script>
</html> 